@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Open+Sans&family=Passion+One:wght@400;700&family=Roboto:wght@400;700&family=Vina+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
header{
    background-color: black;
    width: auto;
    height: 300px;
    color: white;
    text-align: center;   
 }
 header > h1{
    font-family: "Passion One";
    font-size: 190px;
    transform: translate(0%, 20%);

 }
 header > p{
    transform: translate(0%, 100%);
    font-size: 16px;
 }
 section{
    width: 800px;
    background-color: aqua;
 }