@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Open+Sans&family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'flix';
    src: url('Flix-Normal.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Open+Sans&family=Roboto:wght@400;700&family=Vina+Sans&display=swap');
@media (max-width: 2000px){
    iframe{
      width: 80%;
    }
    picture{
        width: 80%;
    }
    img{
        width: 80%;
    }
  }
/*Header*/
#headergeral{
    background-color: #14213D;
    margin: auto;
    max-width: 1920px;
    color: white;
    padding: 10px;
    box-shadow: 12px 0 25px -4px rgba(0, 0, 0, 0.13), -12px 0 25px -4px rgba(0, 0, 0, 0.158);
    border-radius: 0px 0px 15px 15px;
}
header{
    background-color: #14213D;
    margin: auto;
    padding: 40px;
}
header > h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    margin-bottom: 2px;
}
header > p{
    text-align: center;
}

div#spanheader{ /**/
    display: inline;
    margin-left: 15px;
}

.spanheaders{
    margin: 5px;
}
.spanheaders:hover{
    margin: 5px;
    background-color:#FCA311;
    border-radius: 5px;
    padding: 3px;
}
/*Main*/
main{
    background-color: #ffffff;
    max-width: 900px;
    margin: 15px auto 15px auto;
    padding: 15px 20px;
    box-shadow: 12px 0 25px -4px rgba(0, 0, 0, 0.13), -12px 0 25px -4px rgba(0, 0, 0, 0.158);
    border-radius: 5px;
    font-family:"Montserrat", Arial, Helvetica, sans-serif ;
}
main > h1{
    font-family: "Vina Sans", Arial, Helvetica, sans-serif;
    color:#14213D;
    font-weight: 900;
}
main > h2{
    font-family:  "Vina Sans", Arial, Helvetica, sans-serif;
    color:#14213D;
    font-weight: bold;
    font-weight: 900;
}
#div_ultimo_conteudo{
    background-color: #14213D;
    width: 800px, 500px;
    margin: 50px;
    padding: 15px 20px;
    border-radius: 5px;
    font-family:"Montserrat", Arial, Helvetica, sans-serif ;
    color: white;
    text-align: justify;
}

.lista1{
    display: inline-block;
    list-style-position: inside;
}
main > p{
    font-weight: 600;
}

iframe{
    margin: 50px;
}
/*links*/
header a{
    text-decoration: none;
    font-weight: bold;
    color: #FCA311;
}
header a{
    text-decoration: none;
}
div#spanheader a{
    text-decoration: none;
    color: white;
}
main a{
    font-weight: bold;
    color: #FCA311;
    
}
#icone{
    position: absolute;
    top: 210px;
}
#menu{
    background-color: black;
    position: absolute;
    left: 40px;
    top: 210px;
    overflow: hidden;
    width: 0;
    height: 0;
}

#icone svg{
    color: white;
    cursor: pointer;
}

.show{
    transition: 1s;
    opacity: 1;
    width: 400px;
    height: 25px;
}

.hide{
    transform: 1s;
    height: 0;
}